@import url("../node_modules/modern-normalize/modern-normalize.css");
@import url("./assets/fonts/stylesheet.css");

:root {
    line-height: 1.5;

    --page-padding: 1rem 1rem 1rem 2rem;
    --header-clr: #005b96;
    --footer-height: 6em;
    --bg-transparent: rgb(0 0 0/50%);
    --content-width: 1024px;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
}

a {
    text-decoration: none;
}
  
ol[role="list"], ul[role="list"], ol, ul {
    list-style: none;
    padding-inline: 0;
}
  
h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}
  
img {
    display: block;
    max-inline-size: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

input,
textarea,
select,
button {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

/*
styling
*/
body {
    width: 100%;
    font-family: "libre_baskervilleregular";
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-x: hidden;
 
}

h1,
h2 {
    font-family: "libre_baskervillebold";
}

button {
    padding: 1em 2em;
    background-color: var(--header-clr);
    font-family: "libre_baskervilleregular";
    color: white;
}

button:hover{
    filter: brightness(90%);
}

button:hover,
img[src $= ".svg"] {
    cursor: pointer;
}

header,
footer {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    padding: var(--page-padding);
    background-color: var(--header-clr);
}

header > nav {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    flex-flow: wrap;
}

header > nav > button {
    border-radius: 0;
}

nav > button:hover,
nav > button:focus {
    filter: none;
    border-bottom: 1px solid white;
}



img.logo {
    width: 12em;
    height: auto;
}

#content {
    width: 100%;    
    flex: 1;
}

footer * {
    color: white;
    font-size: var(--desc-font-size);
}

footer {
    height: var(--footer-height);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}